body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

header {
    display: inline-block;
}

header a {
    color: black;
    text-decoration: none;
}

header img {
    height: 40px;
}

nav {
    display: none;
}

article {
    width: 100%;
    flex: 1 0 auto;
}

article h1 {
    font-size: 1em;
}

nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

nav li a {
    color: black;
    text-decoration: none;
}

body.index header {
    font-size: xx-large;
    display: block;
    margin-top: 25vh;
}

body.index header img {
    width: 100%;
    height: 100%;
    max-width: 700px;
}

body.index nav {
    display: block;
}

body.index nav a {
    text-decoration: none;
    color: black;
}

footer ul {
    padding-left: 0px;
}

footer li {
    display: inline-block;
    margin: 12px;
}

footer li img {
    height: 48px;
}
